.boxFinalizarCompra {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.159);
    border-radius: 15px;
    flex-direction: column;
    padding: 10px;
    margin-top: 5vh;
}
